.main-content {
  .task-card {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: 1px solid #141414;

    &:has(.edit-task) {
      .edit-task {
        padding: 8px;
      }

      .ant-card-actions {
        display: none;
      }
    }

    .ant-card-body {
      padding: 0;

      .task-body {
        flex: 1;
        padding: 8px;

        .task-content {
          .task-name > span:first-child {
            font-size: 9pt;
          }
          .task-name > span:nth-child(2) {
            font-size: 12pt;
          }

          .current-indicator {
            color: #1677ff;
          }
        }
      }
    }

    .ant-card-actions {
      background: transparent;

      li {
        margin: 8px 0 !important;
        position: relative;

        span {
          cursor: auto;

          button {
            position: static;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }
}

.dark-theme {
  .task-content {
    .current-indicator {
      color: #13a8a8 !important;
    }
  }
}
