* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.padding-box {
  padding: 8px 24px;
  display: flex;

  .frame {
    width: 100%;
    max-width: 1000px;
  }
}

.main-layout {
  max-height: 100dvh;
  min-height: 100dvh;

  & > * {
    width: 100%;
  }

  .navbar {
    background-color: #91caff;

    .ant-avatar {
      background-color: #8381d8;
      cursor: pointer;
    }
  }

  .main-content {
    flex: 1;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: linear-gradient(#e6f4ffcc, #e6f4ffff), url("/images/bg-img.jpg");
    background-position: 0;
    background-size: 150px;
    background-repeat: repeat;
    scrollbar-width: thin;
    scrollbar-color: #91caffc9 transparent;
    scroll-behavior: smooth;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bae0ff;
    padding-top: 3px;
    padding-bottom: 3px;

    a {
      color: #1668dc !important;
    }

    & > div {
      padding: 8px 0;
    }
  }
}

.dark-theme {
  background-color: rgb(46, 46, 46);

  .navbar {
    background-color: #002329;

    .ant-switch {
      background: #0cbd96 !important;
    }
  }

  .main-content {
    background: linear-gradient(#006d75cc, #006d75ff), url("/images/bg-img.jpg");
    background-position: 0;
    background-size: 150px;
    background-repeat: repeat;
    scrollbar-color: #002329c9 transparent;
  }

  .footer {
    background-color: #00474f;

    a {
      color: #16dcb0 !important;
    }
  }
}
