* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;

  .ant-float-btn:has(.anticon-robot) {
    transition: all 0.4s ease;
    &.active {
      animation: 1.5s ease infinite alternate active_button;
      display: block;
    }
    &.inactive {
      display: none;
    }

    .ant-float-btn-body {
      background-color: transparent;
    }
  }
}

@keyframes active_button {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.padding-box {
  padding: 8px 24px;
  display: flex;

  .frame {
    width: 100%;
    max-width: 700px;
  }
}

.ant-select-dropdown {
  width: auto !important;

  .ant-select-item {
    button {
      width: 100%;
      justify-content: left;
    }
  }
}

.main-layout {
  max-height: 100dvh;
  min-height: 100dvh;

  & > * {
    width: 100%;
  }

  .navbar {
    background-color: #91caff;

    .ant-select-selector {
      border: none;
    }

    .ant-avatar {
      background-color: #8381d8;
      cursor: pointer;
    }
  }

  .main-content {
    flex: 1;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: linear-gradient(#e6f4ffcc, #e6f4ffff), url("/images/bg-img.jpg");
    background-position: 0;
    background-size: 150px;
    background-repeat: repeat;
    scrollbar-width: thin;
    scrollbar-color: #91caffc9 transparent;
    scroll-behavior: smooth;
    padding-top: 20px;
    padding-bottom: 20px;

    .choose-task-type {
      .ant-btn-primary {
        span {
          color: #fff;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bae0ff;
    padding-top: 3px;
    padding-bottom: 3px;

    a {
      color: #1668dc !important;
    }

    & > div {
      padding: 8px 0;
    }
  }

  .ant-input-number {
    width: 100%;
  }
}

.frame {
  .ant-segmented {
    background-color: #f5f5f5aa;

    .ant-segmented-group {
      gap: 8px;
      overflow-x: auto;
      scrollbar-width: thin;
      scroll-behavior: smooth;
      scrollbar-color: #bae0ffaa transparent;
      justify-content: space-evenly;

      .ant-segmented-item {
        min-width: auto;
        flex: 1;
      }
    }
  }

  .add-task-card {
    background-color: #ffffffbc;
    backdrop-filter: blur(2px);
    border: 1px solid #141414;

    .ant-form-item:has(.ant-checkbox-wrapper) {
      margin-bottom: 16px !important;
    }
  }
}

.complete-task-card {
  opacity: 0.6 !important;
}

.animated-element {
  .animated-element-content {
    display: block;
    opacity: 0;
    filter: blur(2px);
    animation: fade-in 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);

    // Add a delay based on the index of the span element
    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.2s;
      }
    }
  }
}

@keyframes growAnimation {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 600px;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.dark-theme {
  background-color: rgb(46, 46, 46);

  .ant-float-btn:has(.anticon-robot) {
    background-color: #0cbd9793 !important;
  }

  .navbar {
    background-color: #002329;

    .ant-switch {
      background: #0cbd96 !important;
    }
  }

  .main-content {
    background: linear-gradient(#006d75cc, #006d75ff), url("/images/bg-img.jpg");
    background-position: 0;
    background-size: 150px;
    background-repeat: repeat;
    scrollbar-color: #002329c9 transparent;
  }

  .footer {
    background-color: #00474f;

    a {
      color: #16dcb0 !important;
    }
  }

  .frame {
    .ant-segmented {
      background-color: #000000aa;

      .ant-segmented-group {
        scrollbar-color: #00474faa transparent;
      }
    }

    .add-task-card {
      background-color: #000000b8;
      svg {
        circle {
          &:first-child {
            fill: #00474f;
          }
          &:nth-child(4) {
            fill: #16dcb0;
          }
        }
      }
    }
  }
}
